@tailwind base;
@tailwind components;
@tailwind utilities;

@require './config';
@require './wrapper';

html, body
  background-color: #fff;
  margin: 0;
  padding: 0;

body
  color: $textColor;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

h1
  @apply: text-2xl;

h2
  @apply: text-xl;

h3
  @apply: text-lg;

h1, h2, h3, h4, h5, h6
  font-weight: 750;
  line-height: 1.25;

  {$contentClass} > &
    @apply: mt-8 mb-3;
    margin-top: - $headerHeight;
    padding-top: $headerHeight + 20px;

    &:first-child
      @apply: mt-2 pt-5;

{$contentClass}
  @extend $wrapper;
  padding-bottom: 1rem;
  padding-top: 1rem;

  .page-edit
    padding: 1rem 0;

  @media (max-width: $MQMobile)
    padding: 1rem 2.5rem 0 1.5rem;