@tailwind base;
@tailwind components;
@tailwind utilities;
@require './config'
@require './wrapper'

h1 
  @apply text-2xl;

h2 
  @apply text-xl;

h3 
  @apply text-lg;

h1, h2, h3, h4, h5, h6
  font-weight 750
  line-height 1.25
  {$contentClass} > &
      @apply mt-8 mb-3
      &:first-child
        @apply mt-2

.theme-content {
  @extend $wrapper;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .page-edit {
    padding: 1rem 0;
  }

  @media (max-width: $MQMobile) {
    padding: 1rem 2.5rem 0 1.5rem;
  }
}