@require './config.styl'


blockquote
  font-size .9rem
  color darken($accentColor, 50%)
  border-left: 3px solid $accentColor;
  margin 0.5rem 0
  padding .25rem 0 .25rem 1rem


.box-card > .el-card__body
  padding: 0

.box-card
  {$contentClass}
    padding-top: 0 !important
    h1, h2, h3, h4, h5, h6
      font-weight 750

.comment-card
  margin-top: 20px


.theorem
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right