.post-detail {
  & .post-header {
    margin-bottom: 2.5rem;

    & .post-title {
      font-size: $size-3;
      line-height: 1.5;
      font-weight: $weight-bold;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
    }

    & .post-meta {
      font-size: $size-7;
      letter-spacing: 1px;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      // text-transform: uppercase;
    }
  }

  & .post-footer {
    margin: 2rem 0;
    line-height: 1.8;

    & .post-tags {
      margin-top: 0;
      margin-bottom: 1rem;
      padding-left: 0;

      & li {
        display: inline-block;
        margin-bottom: 0.5rem;
        border-radius: $radius;
        padding: 5px 10px;
        background: $background;
        font-size: $size-7;

        & + li {
          margin-left: 0.5rem;
        }
      }
    }

    & .post-reward {
      border-top: 1px solid #eee;
      text-align: center;
      color: #555;
      margin: 3rem auto;
      word-break: break-word;
      & .reward-tips {
        padding: 0 10rem;
      }
      & .reward-btn {
        padding: 0.2rem 0.5rem;
        color: #fff;
        font-weight: bold;
        background: red;
        border-radius: 0.2rem;
      }

      & .reward-ways-collapsed {
        display: none !important;
      }
      & .reward-ways {
        margin-top: 3rem;
        padding: 0 10rem;

        & li {
          list-style: none;
          display: inline-block;
          margin: 0 2rem;
          & img {
            width: 10rem;
            height: 10rem;
          }
          & p {
            margin: 0;
          }
        }
      }
    }

    & .post-copyright {
      color: $text;
      padding: 1rem 1.5rem;
      border-left: 3px solid #ff1700;
      background-color: #f9f9f9;
      list-style: none;

      &:hover {
        opacity: 1;
      }

      & a {
        opacity: 1;
        color: #268bd2;
      }

      & li {
      }
    }
  }

  & #cyReward > #cy-reward-click {
    display: block;
    margin: 3rem auto;
  }

  & #SOHUCS {
    margin: 2rem auto;

    & .invalidity {
      box-sizing: border-box;
    }
  }

  & #disqus_thread {
    margin: 2rem auto;
  }

  & #gitment-container {
    margin: 2rem auto;
  }

  & .dsq-brlink {
    display: none;
  }
}
